function Map.new 2
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push this 1
push this 2
call Math.multiply 2
pop this 3
push this 3
call Array.new 1
pop this 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 3
lt
not
if-goto WHILE_END0
call Util.rand 0
push constant 3
call Util.modulo 2
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END0
label IF_FALSE0
push local 1
push this 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function Map.newWithGrid 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push this 1
push this 2
call Math.multiply 2
pop this 3
push argument 2
pop this 0
push pointer 0
return
function Map.getWidth 0
push argument 0
pop pointer 0
push this 1
return
function Map.getHeight 0
push argument 0
pop pointer 0
push this 2
return
function Map.getSize 0
push argument 0
pop pointer 0
push this 3
return
function Map.getGrid 0
push argument 0
pop pointer 0
push this 0
return
function Map.setGrid 0
push argument 0
pop pointer 0
push argument 1
pop argument 1
push constant 0
return
function Map.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Map.noOfAliveNeighbours 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push argument 1
push constant 1
sub
push this 1
add
push this 1
call Util.modulo 2
pop local 1
push argument 2
push constant 1
add
push this 2
call Util.modulo 2
pop local 2
push pointer 0
push local 1
push local 2
call Map.getCell 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
add
pop local 0
label IF_FALSE0
push argument 2
push constant 1
add
push this 2
call Util.modulo 2
pop local 2
push pointer 0
push argument 1
push local 2
call Map.getCell 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 1
add
pop local 0
label IF_FALSE1
push argument 1
push constant 1
add
push this 1
call Util.modulo 2
pop local 1
push argument 2
push constant 1
add
push this 2
call Util.modulo 2
pop local 2
push pointer 0
push local 1
push local 2
call Map.getCell 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 1
add
pop local 0
label IF_FALSE2
push argument 1
push constant 1
sub
push this 1
add
push this 1
call Util.modulo 2
pop local 1
push pointer 0
push local 1
push argument 2
call Map.getCell 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push constant 1
add
pop local 0
label IF_FALSE3
push argument 1
push constant 1
add
push this 1
call Util.modulo 2
pop local 1
push pointer 0
push local 1
push argument 2
call Map.getCell 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 1
add
pop local 0
label IF_FALSE4
push argument 1
push constant 1
sub
push this 1
add
push this 1
call Util.modulo 2
pop local 1
push argument 2
push constant 1
sub
push this 1
add
push this 2
call Util.modulo 2
pop local 2
push pointer 0
push local 1
push local 2
call Map.getCell 3
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push constant 1
add
pop local 0
label IF_FALSE5
push argument 2
push constant 1
sub
push this 3
add
push this 2
call Util.modulo 2
pop local 2
push pointer 0
push argument 1
push local 2
call Map.getCell 3
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
push constant 1
add
pop local 0
label IF_FALSE6
push argument 1
push constant 1
add
push this 1
call Util.modulo 2
pop local 1
push argument 2
push constant 1
sub
push this 1
add
push this 2
call Util.modulo 2
pop local 2
push pointer 0
push local 1
push local 2
call Map.getCell 3
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
push constant 1
add
pop local 0
label IF_FALSE7
push local 0
return
function Map.getCell 0
push argument 0
pop pointer 0
push argument 1
push argument 2
push this 1
call Math.multiply 2
add
push this 0
add
pop pointer 1
push that 0
return
